@import '../variables';

  .team-button-gryffindor {
    background-color: @gryffindor;
  }

  team-button-slytherin {
    background-color: $slytherin;
  }
  team-button-hufflepuff {
    background-color: $hufflepuff;
  }

  team-button-hufflepuff {
    background-color: blue;
  }